.head {
    text-align: center;
    font-family: "Helvetica Neue",
  }

  .timer {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-50px;   
    margin-left:-100px;
    border: 10px solid;
  }


