.head {
    text-align: center;
    font-family: "Helvetica Neue",
  }

  .button {
    position: relative;
    top: 45px;
    padding: 15px 26px;
    border: none;
    outline: none;
    color: #333;
    background-color: #f8f9fa;
    margin: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  .timer {
    position: absolute;
    border: 1px solid;
  }


